<!-- app/views/messages/index.html.erb -->

<%= render 'shared/errors' %>

<div class="container">
    <h1 class="text-2xl mb-6">Messages</h1>

    <div class="flow-root">
      <ul role="list" class="-mb-2">
      <% @messages.each_with_index do |message, i| %>
        <li>
          <div class="relative pb-8">
            <% if i < @messages.length - 1 %>
              <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <% end %>
    
            <div class="relative flex items-start space-x-3">
              <div class="relative">
                <img class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="">
    
                <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
                  <!-- Heroicon name: solid/chat-alt -->
                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
              <div class="min-w-0 flex-1">
                <div>
                  <div class="text-sm">
                    <a href="#" class="font-medium text-gray-900"><%= message.from_user.email %></a>
                    <a href="#" class="font-medium text-gray-900"><%= message.to_user.email %></a>

                  </div>
                  <p class="mt-0.5 text-sm text-gray-500">Sent <%= time_ago_in_words(message.created_at) %> ago</p>
                </div>
                <div class=" text-sm text-gray-700">
                  <p><%= message.content %></p>
                </div>
                <div class=" text-sm text-gray-700">
                  
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    
<%= form_with(model: [@reservation, @message], url: listing_reservation_messages_path(@reservation.listing, @reservation), method: :post) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</h2>

      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :reservation_id, value: @reservation.id %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "Send Message" %>
  </div>
<% end %>
</div>
