

<div class='container py-2 mt-5'>
  <h1 class='fw-bolder mb-5'> Listings</h1>

  <div class="">
    <div class="row">
  <% if @listings.present? %>
    <% @listings.each do |l| %>
    <div class="col-md-6">

      <div class="d-flex flex-wrap gap-2 justify-content-between mx-5 mb-5">
        <% if l.photos.exists? %>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% l.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <% if photo.image.present? %>
                    <%= image_tag photo.image.url, class:'image-fluid rounded-4', style: "width: 400px;" %>
                  <% end %>         
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>

        <div class="card-product-infos ">
          <%= link_to l.title, host_listing_path(l), class:"text-dark fs-4 text-decoration-none" %>
         <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <%= link_to l.title, listing_path(l), class:"text-dark fs-text-decoration-none" %>
            </h3>
            <p class="fw-bold">Price/Night: <span class="fs-5"><%= number_to_currency(l.nightly_price / 100, unit: '€', precision: 0) if l.nightly_price.present? %></span></p>  
          </div>
          <p class="text-sm font-medium text-gray-900"><%= l.city %></p>
        </div>
        </div>
      </div>
    </div>
    <% end %>

    <% end %>
  </div>
  </div>


</div>
