

<h1>Photos</h1>

<%= simple_form_for [:host, @listing, @photo], html: { multipart: true } do |f| %>
  <%= f.input :image, as: :file %>
  <%= f.input :caption %>
  <%= f.button :submit, 'Upload Photos' %>
<% end %>

<h2>Photos</h2>
<% if @listing.photos.present?  %>
<div class="container d-flex gap-2">
    <% @listing.photos.each do |photo| %>
    <div class="d-flex flex-column">
      <p><%= image_tag photo.image.url(:thumb) if photo.image.present? %></p>
    </div>
  <% end  %>
</div>

<% end %>


