<div class='container'>
    <h1 class='fw-bolder'>Host Listing</h1>

    <% @listings.each do |l| %>
    <%= link_to  l.title, host_listing_path(l) %> <br>
    <%= l.address %><br><br>
    lat : <%= l.latitude if l.latitude.present? %><br>
    lng : <%= l.longitude if l.longitude.present?%><br>
        <%= l.status %><br>

    <%= button_to 'delete this listing', host_listing_path(l), method: :delete %><br>

    <% end %>
