<div class="container py-2 mt-5">
  <div class="card-product">


      <div class="d-flex gap-2 justify-content-between mx-5 mb-5">
        <div class="">
          <img class="rounded img-fluid h-100" src="https://a0.muscache.com/im/pictures/01de0512-9191-474b-b5c1-7d0766f733ca.jpg?aki">
        </div>
        <div class="card-product-infos ">
           <h1><%= @listing.title %></h1>

          <p>
          <i class="fa-solid fa-location-dot"></i>

          <%= @listing.address %></p>
          <p>
          <i class="fa-solid fa-map "></i>
           lat : <%= @listing.latitude if @listing.latitude.present? %>,
           lng : <%= @listing.longitude if @listing.longitude.present? %></p>

           <% if @listing.published? %>
            <p  class="fw-bold ">
            <i class="fa-regular fa-circle-check text-success fw-bold fs-5 mr-2 "></i>
            <%= @listing.status.capitalize %></p>
            <% else %>
            <p  class="fw-bold">
              <i class="fa-regular fa-clock text-warning fw-bold fs-5 "></i>
            <%= @listing.status.capitalize %></p>
            <% end %>

          <div class="d-flex gap-2">
            <p>  <%= link_to "Edit listing", edit_host_listing_path(@listing), class: "btn btn-secondary  " %></p>
            <p>  <%= link_to "Edit rooms", host_listing_rooms_path(@listing), class: "btn btn-dark  " %></p>
            <p><%= button_to "delete listing", host_listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-warning" %></p>
          </div>
        

         
        </div>
      </div>
        </div>






    <%= link_to 'Add Room', host_listing_rooms_path(@listing) %> 
       <%= link_to 'Back to listings', host_listings_path %>



  </div>
