<div class="container">
<% if @listing.present? %>
    <h1 class="fs-4 fw-bold mt-4 mb-3"> <%= @listing.title %></h1>
  <h1 class=" fs-4 fw-bold mt-4 mb-3">Reservation Details</h1>
  
  <pre><%= JSON.pretty_generate(@reservation.as_json(include: :calendar_event)) %></pre>
  <% if @listing.reservations.present? %>
  <%= link_to "Messages", listing_reservation_messages_path(@listing.reservations, @reservation), class:"btn btn-primary" %>

  <div class="d-flex gap-3">
    <%= button_to "Cancel Reservation", cancel_listing_reservation_path(@listing, @reservation), method: :post, class:"btn btn-primary" %>
    <%= link_to "back to reservations", listing_reservations_path(@listing), class:"btn btn-primary" %>
  <div>
    <% end %>
    <% end %>

  </div>