
<%= turbo_frame_tag "rooms_list" do %>

<div class="container py-2">

  <h2>Rooms</h2>
  <%= link_to "Back to #{@listing.title}", host_listing_path(@listing), class:"text-decoration-none text-dark" %>

  <div class="container d-flex gap-3 mt-5">

  <% if @listing.rooms.present? %>
    <% @listing.rooms.includes([:beds]).each do |room| %>
    
      <div class="d-flex">
        <div class="d-flex gap-3">
          <div class="card mb-3">
            <div class="card-header">
              <h3><%= room.room_type %></h3>
              <h6 >Number of beds: <span class="bg-success text-white fs-5 p-2 rounded-circle"><%= room.beds_count %></span></h6>
            </div>
            <% if room.beds.present? %>
              <div class="card-body">
                <h4>Beds</h4>
                <ul class="list-group">

                  <% room.beds.each do |bed| %>
                    <li class="list-group-item"><%= bed.bed_size %></li>

                  <% end %>
                </ul>
              </div>

              <p><%= button_to 'delete room', host_listing_room_path(@listing, room), method: :delete, class:"btn btn-danger" %></p>


            <% else %>
              <div class="card-body">
                <p>No beds in this room.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      
    <% end %>
  <% else %>
    <p>No rooms available for this listing.</p>
  <% end %>
</div>

</div>
<% end %>


<div class="container py-2 ">
  <%= turbo_frame_tag "room" do %>

  <%= render 'host/rooms/form', listing: @listing %>

  <% end %>
<br>
<%= link_to 'Edit', edit_host_listing_path(@listing) %><br>

</div>

